:root {
  font-size: x-large;
  color: black;
}

body {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  height: 100vh;
  > div {
    height: 100%;
    display: flex;
    align-items: center;
  }
}

#grid {
  height: 90%;
  margin: 3rem;
  border-style: solid;
  > div {
    height: 100%;
    > canvas {
      image-rendering: pixelated;
      height: 100%;
    }
    &.game-over {
      filter: grayscale(100%) brightness(0.7);
    }
  }
}

#sidebar {
  height: 100%;
  flex-grow: 1;
  background-color: saddlebrown;
  display: flex;
  justify-content: center;
  align-items: center;
  > div {
    > canvas {
      height: 4rem;
      image-rendering: pixelated;
    }
  }
}
