:root {
  font-size: x-large;
  color: black;
  background-color: #162745;
}

body {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  height: 100vh;
  > div {
    height: 100%;
    display: flex;
    align-items: center;
  }
}

#grid {
  height: 90%;
  margin: 3rem;
  > div {
    height: 100%;
    background-color: white;
    > canvas {
      image-rendering: pixelated;
      height: 100%;
    }
    &.game-over {
      filter: grayscale(75%) brightness(0.5);
    }
  }
}

#sidebar {
  height: 100%;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  > div {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    > canvas {
      height: 4rem;
      image-rendering: pixelated;
    }
    > div {
      background-color: white;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 9rem;
      > button {
        width: 3rem;
        height: 3rem;
      }
    }
  }
}
