body {
  font-size: 100pt;
  > div {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    > * {
      min-width: 30%;
      aspect-ratio: 1/1;
    }
    > button {
      font-size: inherit;
      display: flex;
      align-items: center;
      justify-content: center;
      > span {
        position: relative;
        top: -10px;
      }
    }
  }
}
